@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* colors */

.ui-menu-color-home {
    background-color: #ffdb58;
}

.ui-menu-color-info {
    background-color: #43ada5;
}

.ui-menu-color-tickets {
    background-color: #ff7c58;
}

.ui-menu-color-contact {
    background-color: #f0e68c;
}

/* Heading */

header {
    margin: 0;
    height: 160px;
    background-color: white;
}

#logo {
    background: url("../images/pennfest.png") no-repeat;
    min-height: 150px;
    background-position: center;
    margin-top: 10px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 25px;
    padding: 0 0 0 125px;
    margin-top: 100px;
    color: white;
}

/* link general styling */

a {
    color: #222221;
}

a:hover {
    color: #222221;
    text-decoration: underline;
}

/* main homepage body */
