@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* ----------------------------------------------------------------------- colors */


.bg-color-contact {
    background-color: white;
}

/* ------------------------------------------------------------- Special Padding / Margins / Text */

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color:#222221;
}

#poster {
    padding-top: 25px;
    padding-bottom: 25px;
}

.button-margin {
    margin: 20px 0 20px 40px;
}

/* ---------------------------------------------------- link general styling */

a {
    color: #222221;
}

a:hover {
    color: #222221;
    text-decoration: underline;
}

/* --------------------------------------------------------- Header */

header {
    margin: 0;
    background-color: white;
}

#icon {
    padding: 0 0 0 10px;
}

/* ---------------------------------------------------------- lists */

.list-center {
    margin: auto;
    width: 75%;
    border: 3px solid black;
    padding: 10px;
}

.list-subheadings-center {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
}

.list-subheadings-left {
    text-decoration: underline;
    padding-bottom: 20px;
}

i {
    padding-left: 10px;
}

/* ---------------------------------------------------------- hero-image */

#hero-image {
    height: 600px;
    width: 100%;
    background-image: url("https://i.ibb.co/b7s8SDH/concert-g2a6ee954c-1920.jpg");

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff
}

#cover-text {
    font-size: 150%;
    font-family: "Exo";
    text-transform: uppercase;

    width: 300px;
    height: 250px;

    padding-top: 50px;
    padding-left: 50px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 200px;
    right: 800px;

    position: absolute;
}



/* ---------------------------------------------------------- image-slider */

.image-carousel {
    display: flex;
    overflow-y: scroll;
  }
  
  .image-carousel div {
    flex: 1;
    margin: 5px
  }
  
  .image-carousel div img {
    width: 100%;
    height: auto;
    min-width: 125px;
  }
  
  .image-carousel  .wide-only {
    display: none;
  }
  
  @media(min-width:880px) {
    .image-carousel .wide-only {
      display: block;
      flex: 1
    }
  }

/* ---------------------------------------------------------- footer */

footer {
    margin: 0;
    height: 75px;
    background-color: white;
}

#socials-heading {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

#social-icons {
    text-align: center;
}

#facebook {
    padding: 25px;
}

#twitter {
    padding: 25px;
}

#instagram {
    padding: 25px;
}


/* contact ----------------------------------------- */

.contact-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.contact-form {
    padding-bottom: 75px;
}

/* media queries ----------------------------------------- */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media screen and (max-width:943px){

    #cover-text {
        left:0px;
    }



}