@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* ----------------------------------------------------------------------- colors */

.ui-menu-color-home {
    background-color: #ffdb58;
}

.ui-menu-color-info {
    background-color: #43ada5;
}

.ui-menu-color-tickets {
    background-color: #ff7c58;
}

.ui-menu-color-contact {
    background-color: #f0e68c;
}

.bg-color-contact {
    background-color: white;
}

/* ------------------------------------------------------------- Special Padding / Margins / Text */

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color:#222221;
}

/* ---------------------------------------------------- link general styling */

a {
    color: #222221;
}

a:hover {
    color: #222221;
    text-decoration: underline;
}

/* --------------------------------------------------------- Header */

header {
    margin: 0;
    height: 160px;
    background-color: white;
}

#logo {
    background: url("../images/pennfest.png") no-repeat;
    min-height: 150px;
    background-position: center;
    margin-top: 10px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 25px;
    padding: 0 0 0 125px;
    margin-top: 100px;
    color: white;
    border:#222221;
    border-style: solid;
}

#icon {
    padding: 0 0 0 10px;
}

/* ---------------------------------------------------------- footer */

footer {
    margin: 0;
    height: 75px;
    background-color: white;
}

#socials-heading {
    text-align: center;
}

#social-icons {
    text-align: center;
}

#facebook {
    padding: 25px;
}

#twitter {
    padding: 25px;
}

#instagram {
    padding: 25px;
}


/* contact ----------------------------------------- */

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    max-width: 70%;
}

/* media queries ----------------------------------------- */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}